:root {
  --deep-space-sparkle: #3a606eff;
  --steel-teal: #607b7dff;
  --xanadu: #828e82ff;
  --laurel-green: #aaae8eff;
  --gainsboro: #e0e0e0ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: var(--gainsboro);
}

body {
  color: #333;
  line-height: 1.5;
  font-family: "Lato", sans-serif;
}

img {
  width: 100%;
}

h1,
h2,
p {
  margin: 1rem 0;
}

.flex {
  display: flex;
}

.navbar {
  background-color: var(--deep-space-sparkle);
  width: 100vw;
  height: 9vh;
  justify-content: space-between;
  align-items: center;
  padding: 0 5rem;
  position: fixed;
  top: 0;
  z-index: 100;
}

.nav-logo {
  font-size: 1.3rem;
}

.nav-links a {
  padding: 0.3rem 1rem;
  font-size: 1.1rem;
}

.nav-links a:hover {
  border-bottom: 2px solid var(--gainsboro);
}
