.container {
  padding: 0 5rem;
  margin: 0 auto;
  max-width: 100%;
}

.card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 8px 8px 25px 2px rgb(0 0 0 / 33%);
  padding: 1.5rem 2rem;
  margin: 0 1rem;
  width: 90%;
}

.btn {
  display: inline-block;
  padding: 0.8rem 1.3rem;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  background-color: var(--deep-space-sparkle);
}

.btn:hover {
  transform: scale(0.98);
}

.text-center {
  text-align: center;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/* Margin */
.my-1 {
  margin: 1rem 0;
}

.my-2 {
  margin: 1.5rem 0;
}

.my-3 {
  margin: 2rem 0;
}

.my-4 {
  margin: 3rem 0;
}

.my-5 {
  margin: 4rem 0;
}

.m-1 {
  margin: 1rem;
}

.m-2 {
  margin: 1.5rem;
}

.m-3 {
  margin: 2rem;
}

.m-4 {
  margin: 3rem;
}

.m-5 {
  margin: 4rem;
}

/* Padding */

.py-1 {
  padding: 1rem 0;
}

.py-2 {
  padding: 1.5rem 0;
}

.py-3 {
  padding: 2rem 0;
}

.py-4 {
  padding: 3rem 0;
}

.py-5 {
  padding: 4rem 0;
}

.p-1 {
  padding: 1rem;
}

.p-2 {
  padding: 1.5rem;
}

.p-3 {
  padding: 2rem;
}

.p-4 {
  padding: 3rem;
}

.p-5 {
  padding: 4rem;
}
